**/.DS_Store
.shortpixel
.sp-progress
node_modules/
sdks/testing/node.js/PDFs/
sdks/testing/node.js/*.pdf
sdks/testing/python/PDFs/
sdks/testing/python/*.pdf
sdks/testing/node.js/testpdflib.js
dictionary.dic

